{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>

<!-- fontawesome -->
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<!-- profile photo display -->
<div class="container top">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          {% if profile.profile_photo %}
          <img src="{{profile.profile_photo.url}}" alt="profile-photo" class="img-fluid-circle" style="border-radius: 50%;height:200px;width: 200px;">
          {% endif %}
        </div>
        <div class="col-md-5 text-left">
          <ul class="list-inline">
            <li class="list-inline-item">
              <span class="username">{{ profile.user }}</span>
            </li>