{% extends 'base.html' %}

{% load static %}

{% block content %}
      <!--   Icon Section   -->
      <div class="row">

      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{ project.image.url }}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title"><b>{{ project.title }}</b></span>
              <span>{{ project.description }}</span>
              <br>
              
              <br>
              <div class="divider"></div>
              <br>
              <p style="color: darkslateblue;">Rate the Project based on design, Usability and content</p>
              <br>
              <form method="post" action="" role="form" class="col s12">
                {% csrf_token %}
               <div class="input-field col s12">
                  {{ form.rate }}
              </div>
              <br>
             

              <button type="submit" name="action" class="waves-effect waves-light btn btn-info"><i class="material-icons left">Rate</button>
            </form>
            </div>
          </div>
        </div>
      </div>

      </div>

{% endblock %}